authorization:
    username: christofdamian
    password: secret
    token: githubtoken

repository:
    username: christofdamian
    name: test
    status: true
    required: 3
    whitelist: [ christofdamian ]
    labels:
        -
            name: blocked
            color: eb6420
            hook: [B]
